{% extends 'base/base.html' %}
{% load static %}

{% block title %}
overview of notes
{% endblock title %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container-fluid">
    <a class="" href="#">
        <img src="{% static 'media/shortnote.svg' %}" width="125" alt="logo">
    </a>
    <div class="col-6">
        <form action="" method="GET" class="w-100 me-2 d-flex">
            <div class="w-100 position-relative">
                <input type="text" class="form-control rounded-1 shadow-sm" placeholder="search for your shortnotes" id="search-input" autocomplete="off">
                <button type="button" class="btn-transparent position-absolute top-0" style="transform: translateY(25%); right: 10px; opacity: 0.4">
                    <i class="far fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <a class="" href="#">
        <img src="{% static 'media/default-avatar.png' %}" width="40" alt="avatar">
    </a>
  </div>
</nav>
<div class="container py-4">
    <div class="d-flex align-items-center flex-column" id="shortnotes">
        {% for shortnote in shortnotes%}
            <div class="row mb-3" style="max-width: 540px; width: 540px">
                <div class="col-1 d-flex align-items-center">
                    <button type="checkbox" class="btn-transparent" style="opacity: 0.5" id="delete-shortnote">
                        <i class="fas fa-check-circle fs-5 text-success opacity-50"></i>
                    </button>
                </div>
                <div class="card col-11 p-2 border-0 bg-{{shortnote.color}}" style="--bs-bg-opacity: 0.075">
                    <div class="card-body">
                        <strong class="card-subtitle fs-6 text-{{shortnote.color}} user-select-none">
                        {{shortnote.content | safe}}
                        </strong>
                        <p>
                        {{shortnote.text}}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="position-fixed bottom-0 py-3 d-flex justify-content-center w-100" style="z-index: 1000" id="write-section">
    <div class="col-8 d-flex flex-row align-items-stretch">
        <form method="POST" class="w-100 d-flex" id="write-form">
            {% csrf_token %}
            <div class="position-relative w-100 me-2">
                <input type="text" name='write-input' class="form-control rounded-1 shadow-sm" placeholder="write a shortnote" id="write-input" autofocus>
                <button type="button" class="btn-transparent position-absolute top-0" style="transform: translateY(25%); right: 10px; opacity: 0.4">
                    <i class="far fa-arrow-right"></i>
                </button>
                <button type="button" class="btn-transparent position-absolute top-0" style="transform: translateY(25%); right: 35px; opacity: 0.4">
                    <i class="bi bi-pin-fill"></i>
                </button>
                <button type="button" class="btn-transparent position-absolute top-0 text-primary" style="transform: translateY(25%); right: 60px; opacity: 0.4" id="status">
                    <i class="far fa-asterisk"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}