{% extends 'base/base.html' %}
{% load static %}

{% block title %}
overview of notes
{% endblock title %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-white shadow-sm position-sticky top-0" style="z-index: 1000">
  <div class="container-fluid">
    <a class="" href="{% url 'home' %}">
        <img src="{% static 'media/shortnote.svg' %}" width="125" alt="logo">
    </a>
    <div class="col-6">
        <form action="" method="GET" class="w-100 me-2 d-flex">
            <div class="w-100 position-relative">
                <input type="text" class="form-control rounded-1 shadow-sm" placeholder="search for your shortnotes" id="search-input" autocomplete="off">
                <button type="button" class="btn-transparent position-absolute top-0" style="transform: translateY(25%); right: 10px; opacity: 0.4">
                    <i class="far fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <a class="" href="#">
        <img src="{% static 'media/default-avatar.png' %}" width="40" alt="avatar">
    </a>
  </div>
</nav>
<div class="container py-4">
    <div class="d-flex align-items-center flex-column" id="shortnotes">
        {% for shortnote in shortnotes %}
            <div class="mb-3" style="max-width: 540px; width: 540px; z-index: 0">
                <div class="card col-11 p-2 border-0 bg-{{shortnote.color}}" style="--bs-bg-opacity: 0.075" id="shortnote">
                    <div class="card-body">
                        <div>
                            <strong class="card-subtitle fs-6 text-{{shortnote.color}} user-select-none">
                            {{shortnote.content | safe}}
                            </strong>
                            {% if shortnote.pin == True %}
                                <i class="bi bi-pin-fill opacity-75"></i>
                            {% endif %}
                        </div>
                        <p>
                        {{shortnote.text}}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="position-fixed bottom-0 py-3 d-flex justify-content-center w-100" style="z-index: 1000" id="write-section">
    <div class="col-8 d-flex flex-row align-items-stretch">
        <form method="POST" class="w-100 d-flex" id="write-form">
            {% csrf_token %}
            <div class="position-relative w-100 me-2">
                <input type="text" name='write-input' class="form-control rounded-1 shadow-sm" placeholder="write a shortnote" id="write-input" autofocus>
                <button type="submit" class="btn-transparent position-absolute top-0 h-100 d-flex align-items-center opacity-50 d-none" style="right: 10px" id="send-button">
                    <img src="{% static 'media/send.svg' %}" style="width: 1.25rem" alt="send">
                </button>
                <div id="tool-section">
                    <button type="button" class="btn-transparent position-absolute top-0 h-100 d-flex align-items-center opacity-50" style="right: 10px" id="pin-button">
                        <i class="bi bi-pin-fill" id="pin-icon"></i>
                    </button>
                    <button type="button" class="btn-transparent position-absolute top-0 text-primary h-100 d-flex align-items-center" style="right: 35px" id="status">
                        <i class="far fa-asterisk"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}