#send-icon {
    animation-name: move;
    animation-duration: 0.5s
}

@keyframes move {
    from {
        transform: translateX(-5px)
    }
    to {
        transform: translateX(0)
    }
}

#search-input {
    background-color: var(--bs-gray-200)
}
#search-input:focus {
    background-color: #fff;
    box-shadow: 0 .125rem .5rem rgba(0,0,0,.075) !important
}